.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cols {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: -100px; /* Ajusta el espacio vertical entre los divs */
}

.col {
  width: 48%;
  margin-bottom: -410px; /* Ajusta el espacio vertical entre los divs */
}

.container {
  perspective: 1000px;
  position: relative;
  height: 0;
  padding-bottom: 100%;
}


.card {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 0.8s;
}

.card .side {
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card .front {
  background-color: rgba(223, 243, 245, 0.6);
}

.card .back {
  background-color: rgba(192, 207, 210, 0.6);
}

.card .inner {
  padding: 20px;
}

.card .inner p {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card .inner span {
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  .col {
      width: 100%;
  }
}